.light_pole_title {
  height: 50px;
  font-size: 18px;
  color: #fff;
  // line-height: 50px;
  padding: 10px 25px;
  background: linear-gradient(
    90deg,
    rgba(0, 151, 255, 0.24),
    rgba(1, 11, 35, 0.24)
  );

  img {
    width: 22px;
    height: 22px;
  }
  .ant-checkbox-wrapper {
    position: absolute;
    right: 20px;
    top: 15px;
  }
}